:root {
  --main-color: #f24547;
  --text-color: #fff;
}

.top-bar {
  height: 50px;
  width: 100%;
  text-align: center;
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  line-height: 50px;
  font-size: 14px;
}
